<% include ./partials/header %>


<form name="" method="POST" action="">
    <input type="email" name="email" placeholder="Enter email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" name="submit" value="Login">
</form>

<% include ./partials/footer %>
